* {
    text-align: center;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #bfbfbf;
}

.recipe {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    font-weight: 500;
    border: 2px solid green;
    padding: 10px;
    width:  150px;
    height: 150px;
    background-color: green;
    border-radius: 10px;
    display: inline;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: black;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    border: 2px solid red;
}

div img {
    border: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

div .cuisine {
    text-align: left;
}

a {
    text-align: center;
    color: red;
    padding: 20px;
}